.container {
  margin: 20px;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

button {
  margin-right: 8px;
}

.skill {
    /*padding-left: 20px !important;*/
    padding-bottom: 20px !important;
}

.candidate-row td {
    border-bottom: none;
    margin-bottom: 0px;
}
