.container {
  margin: 20px;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

mat-row tr {
  
}

button {
  margin-right: 8px;
}

.skill {
    padding-bottom: 20px !important;
    background-color: #ecdbff;
}

.candidate-row td {
    border-bottom: none;
    margin-bottom: 0px;
}

.options {
    margin-left: 8px;
    margin-bottom: 10px;
}

.error-message {
  color: black;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid red;
  background-color: #fdd;
  border-radius: 5px;
}
