<div class="container mt-4">
  <h2>{{ candidateForm.get('id')?.value ? 'Edit Candidate' : 'Add Candidate' }}</h2>
  <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control" />
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" id="surname" formControlName="surname" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">
      {{ candidateForm.get('id')?.value ? 'Update' : 'Add' }}
    </button>
  </form>
</div>
